# Mscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buldlog/
.hstory
.svn/
mgrate_workng_dr/

# ntellJ related
*.ml
*.pr
*.ws
.dea/

# The .vscode folder contans launch confguraton and tasks you confgure n
# VS Code whch you may wsh to be ncluded n verson control, so ths lne
# s commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/ap/
**/os/Flutter/.last_buld_d
.dart_tool/
.flutter-plugns
.flutter-plugns-dependences
.packages
.pub-cache/
.pub/
/buld/

# Symbolcaton related
app.*.symbols

# Obfuscaton related
app.*.map.json

# Androd Studo wll place buld artfacts here
/androd/app/debug
/androd/app/profle
/androd/app/release
